<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>NS - Painel de Administração</title>
</head>
<body>
  <header>
    <h1>Bem-vindo ao painel de administração!</h1>
    <p>Escolha uma opção para começar.</p>
  </header>
  <nav class="container">
      <ul>
        <li><a href="/admin/create">Criar Página</a></li>
        <li><a href="/">Visualizar Páginas</a></li>
        <li><a href="/info">Informações do CMS</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
  </nav>
  <div id="botao_voltar">
    <a href="javascript:history.back()" class="back-button">Voltar</a>
  </div>
</body>
</html>