<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>NS - Criar Página</title>
</head>
<body>
  <header>
    <h1>Criar Página</h1>
  </header>
  <div class="container">
    {{#if errors}}
      <ul>
        {{#each errors}}
          <li>{{this.msg}}</li>
        {{/each}}
      </ul>
    {{/if}}
    <form method="POST" action="/admin/create">
      <input type="text" name="url" placeholder="URL" required/>
      <textarea name="content" placeholder="Conteúdo" required></textarea>
      <button type="submit">Create</button>
    </form>
  </div>
  <div id="botao_voltar">
    <a href="javascript:history.back()" class="back-button">Voltar</a>
  </div>
</body>
</html>
