<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>NS - Páginas</title>
</head>
<body>
  <header>
    <h1>Páginas</h1>
  </header>
  <div class="container">
    <ul>
      {{#each pages}}
        <li><a href="{{this.url}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
  <div id="botao_voltar">
    <a href="javascript:history.back()" class="back-button">Voltar</a>
  </div>
</body>
</html>
