<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Infos Node Pages</title>
</head>
<body>
  <header>
    <h1>Informações do Node Pages</h1>
  </header>
  <div class="container">
    <h2>Funcionalidades</h2>
    <ul>
      <li>
        <strong>/admin</strong>: Painel de administração onde você pode acessar todas as funcionalidades do sistema.
      </li>
      <li>
        <strong>/admin/create</strong>: Criação de uma nova página. Aqui você define a URL e o conteúdo da página.
      </li>
      <li>
        <strong>/admin/edit/nome_da_pagina</strong>: Edição de uma página. Aqui você define o novo conteúdo da página.
      </li>
      <li>
        <strong>/admin/delete/nome_da_pagina</strong>: Exclusão de uma página. Aqui você exclui a página especificada na rota.
      </li>
      <li>
        <strong>/login</strong>: Página de login para o administrador. É necessário autenticar-se para acessar as funcionalidades administrativas.
      </li>
      <li>
        <strong>/logout</strong>: Realiza o logout da sessão atual, redirecionando o usuário para a página de login.
      </li>
      <li>
        <strong>/info</strong>: Esta página. Aqui você encontra uma descrição de todas as rotas e funcionalidades disponíveis no sistema.
      </li>
      <li>
        <strong>/</strong>: Página inicial do site, que lista todas as páginas criadas e fornece links para acessá-las.
      </li>
    </ul>
  </div>
  <div id="botao_voltar">
    <a href="javascript:history.back()" class="back-button">Voltar</a>
  </div>
</body>
</html>
